In [1]:
print("hello world")

hello world

In [2]:
len("hello")

5

In [3]:
type(5)

int

In [4]:
#inbuilt functions of python >> print, len, type
#keep your code neat, clean, organised , reusable, saves the time

In [5]:
#function >> it is a block of code that performs some specific computation and it can be

In [6]:
#inbuilt >> print, len, type
#user define

In [7]:
int(2.5)

2

In [8]:
import math as m 
m.ceil(6.5)

7

In [9]:
m.floor(6.5)

6

In [10]:
help(m)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.10/library/math.html

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /opt/conda/lib/python3.10/lib-dynload/math.cpython-310-x86_64-linux-gnu.so

In [11]:
#syntax of function 
#def func():
    #do something 
    #do something

In [12]:
print("welcome to class Rahul")
print("welcome to class sam")
print("welcome to class gaytri")

welcome to class Rahul
welcome to class sam
welcome to class gaytri

In [13]:
def greeting(name):
    print("welcome to the class", name)

In [14]:
greeting("Ajay")

welcome to the class Ajay

In [15]:
greeting("sachin")

welcome to the class sachin

In [16]:
greeting("wasim")

welcome to the class wasim

In [17]:
def func():
    print("this is my first function")

In [19]:
func()

this is my first function

In [20]:
def actor():
    print("i am better than my fav actor")

In [21]:
actor()

i am better than my fav actor

In [24]:
def actor(name):
    print("i am better than", name)

In [25]:
actor("srk")

i am better than srk

In [26]:
def func():
    print("this is my first function")

In [27]:
func() #calling of a function

this is my first function

In [28]:
"this is my first function" + "in python"

'this is my first functionin python'

In [31]:
func() + " in python"

this is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [33]:
# by default fun() return nonetype
print(type(func()))

this is my first function
<class 'NoneType'>

In [38]:
def func(name):
     return f"this is my first function {name}"

In [39]:
func("Ajay") + "in python"

'this is my first function Ajayin python'

In [1]:
print("hello world")

hello world

In [2]:
def func():
    print("this is my first function")

In [3]:
func()

this is my first function

In [4]:
def func(args):
    return args ** 2

In [5]:
func(800)

640000

In [14]:
def func():
    return 1,2,3, "siya ram", 3+5j
a , b, c, d, e = func()

In [15]:
a

1

In [16]:
b

2

In [17]:
c

3

In [1]:
#write a function to add two numbers 

def add(a , b):
    return a+b

In [2]:
add(6, 7)

13

In [6]:
# write a function to square a number

def square( a ):
    return a** 2

In [8]:
square(5 )

25

In [9]:
def add(a , b):
    return a+b 

add ("PW", "skills")

'PWskills'

In [10]:
add([1,2,3], [4,5,6])

[1, 2, 3, 4, 5, 6]

In [11]:
def add(a , b):  #by default a is first place and b is 2nd place 
    return a+b 

add ("PW", "skills")

'PWskills'

In [15]:
def add(a , b):  #by default a is first place and b is 2nd place 
    return a+b 

add ( b = "skills", a = "pw")

'pwskills'

In [17]:
def add(a , b=0):
    return a+b 
add (2)

2

In [20]:
#write a function with takes two nos from user an add 

def add_two_nos():
    a = int(input("enter the first no"))
    b = int(input("enter the first no"))
    return a+b

In [21]:
add_two_nos()

enter the first no 4
enter the first no 2

6

In [22]:
# write a function that takes list as input and return all numeric values in list

In [23]:
type("Ajay")

str

In [27]:
l = [ 1 , 2, 3, 4, "potato", "Anda", "bhurji"]

def only_numeric(a):
    result = []
    for i in a:
        if type(i) == int or type(i) == float:
            result.append(i)
    return result   

only_numeric(l)

[1, 2, 3, 4]

In [30]:
l = [ 1 , 2, 3, 4, "potato", "Anda", "bhurji", [2,3.5,4, "ram"]]

def only_numeric(a):
    result = []
    for i in a:
        if type(i) == list:
            for j in i:
                if type(i) ==   int or type(j) == float:
                    result.append(j)
        else:
            
            if type(i) == int or type(i) == float:
                result.append(i)
    return result   

only_numeric(l)

[1, 2, 3, 4, 3.5]

In [31]:
def sum_(a, b):
    return a+b

In [32]:
sum_(6,7)

13

In [33]:
#variable length argument 
#say you dont know no of args, and you want to sum all the provided no

In [2]:
#variable length arguement, with fixed argument 
def sum_(*args):
    total = 0 
    for i in args:
        total = total+i
    return total

In [3]:
sum_(5,6,7)

18

In [6]:
# write a function that takes any no of arguments but returns only the list 

def return_list(*args):
    result = []
    for i in args:
        if type(i) == list:
            result.append(i)
    return result

In [7]:
return_list("aabra", "dabra", 1, 2, 3, "Ajay", [1], )

[[1]]

In [8]:
def team( name, project):
    return f"{name} is working on {project}"
team("Ajay", "NLP")

'Ajay is working on NLP'

In [9]:
#accept any no of argument 
#treat as key value pair 

def func_kwargs(**kwargs):
    return kwargs

In [11]:
func_kwargs (a= "ram", b= "shaym", c = (1,2,3))

{'a': 'ram', 'b': 'shaym', 'c': (1, 2, 3)}

In [12]:
#write a function which takes variable key word argument, return only the values which is a list

In [15]:
def test(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i]) == list:
                return i, kwargs[i]
test( a= "ram", b= "shaym", c = [1,2,3])

('c', [1, 2, 3])

In [18]:
# local variable and global variable 

def greet():
    message = "hello, welcome"  #message is a local variable, only be accessed inside the function
    print(message)
    
greet()

hello, welcome

In [19]:
print(message)

NameError: name 'message' is not defined

In [20]:
subpart = " to the course" #global var, defined outside the function, you can access anywhere 
def greet():
    message = "hello, welcome"  + subpart
    print(message)
    
greet()

hello, welcome to the course

In [21]:
subpart

' to the course'

In [24]:
# function inside function 

def marks_in_subject(**kwargs):
    def total_marks (marks_list):
        return sum(marks_list)
    
    marks_list = []
    for subject, marks in kwargs.item():
        marks_list.append(marks)
        
    return total_marks(marks_list)

In [25]:
marks_in_subject(a = 1, b= 33, c=38)

AttributeError: 'dict' object has no attribute 'item'

In [27]:
#find power of a no 

def find_power(num, power):
    """
    This function returns the power of no 
    Args:
        num(int):insert any integer value
        power(int):insert any integer value
        """
    return num**power
find_power(2,5)

32