In [1]:
#lambda >> annoymous function
#syntax : Lambda arguments : expresion

In [2]:
def square(x):
    return x ** 2

In [4]:
square(100)

10000

In [5]:
sq_lamb = lambda x: x**2

In [6]:
sq_lamb(17)

289

In [12]:
# write a lambda fun to add two no 
add_lamb = lambda x, z: x+z

In [13]:
add_lamb(18 , 20)

38

In [14]:
#write a lambda function to check if a given no is even no 

is_even = lambda x : x%2 == 0

In [15]:
is_even(4)

True

In [20]:
x = ["python", "data Science", "Ajay"]
#sort based on no of characters 
len("data science")

12

In [23]:
sorted(x, key = lambda x: len(x))

['Ajay', 'python', 'data Science']

In [27]:
#fibonacci series 0,1, 1, 2, 3, 5 
# resursive function calls itself again and again 

def gen_fib(n):
    if n<=1:
        return n 
    else:
        return gen_fib(n-1) + gen_fib(n-2)

In [28]:
gen_fib(5)

5

In [30]:
# write the fibonacci series using lambda function

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [31]:
gen_fib = lambda n: n if n<=1 else gen_fib(n-1) + gen_fib(n-2)

In [33]:
[gen_fib(i) for i in range (8)]

[0, 1, 1, 2, 3, 5, 8, 13]

In [37]:
#another example of recursion >> factorial 

#write a function which gives factorial of a given no 
def fact_num(n):
    if n==0:
        return 1 
    else:
        return n*fact_num(n-1)

In [38]:
fact_num(4)

24

In [40]:
#write factorial using lambda function 
fact_num = lambda n:1 if n == 0 else n*fact_num(n-1)

In [41]:
fact_num(4)

24

In [42]:
# Map function >> execuse a specified function for iterable 
#syntax >> map(func, iterable)

In [43]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [44]:
l = [1, 2, 3, 4, 5]

In [45]:
l

[1, 2, 3, 4, 5]

In [52]:
def square(l):
    sq = []
    for i in l:
        sq.append(i**2)
    return sq

In [54]:
square(l)

[1, 4, 9, 16, 25]

In [55]:
def sq(x):
    return x**2

In [58]:
list(map(sq, l)) # map will map the function sq to each of the element in list l

[1, 4, 9, 16, 25]

In [59]:
#lambda function 
list(map(lambda x: x**2, l))

[1, 4, 9, 16, 25]

In [61]:
#write a map function which adds 10 to every no of list 
list(map(lambda x: x+10, l))

[11, 12, 13, 14, 15]

In [63]:
a = lambda x: x**2
list(map(a,l))

[1, 4, 9, 16, 25]

In [67]:
l = ["1", "2", "3", "100"]
list(map(lambda x: int(x), l))

[1, 2, 3, 100]

In [68]:
grades = ["A", "B", "C", "D"] #convert grades into cgpa, A>4, B>3 and 2 
list(map(lambda grade: 4 if grade == "A" else(3 if grade == "B" else 2), grades))

[4, 3, 2, 2]

In [1]:
#reduce >> folding/reduction 

from functools import reduce 
l = [2,1,3,4,5,6]

In [2]:
reduce(lambda x, y: x+y, l)

21

In [3]:
reduce(lambda x, y,z: x+y, l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [4]:
numbers = [1, 2, 100, 5, 6, 8, 7, 200, 101, 3]
reduce(lambda x,y: x if x>y else y, numbers)

200

In [5]:
reduce(lambda x,y: x*y, numbers)

20361600000

In [7]:
#a function to get factorial using reduce 
reduce(lambda x,y: x*y, range(1,5))

24

In [8]:
def factorial(n):
    return reduce(lambda x, y: x*y, range(1,n+1))

In [9]:
factorial(10)

3628800

In [10]:
#filter >> is used to filter elements from iterable
#Syntax : filter(function, iterable)

In [11]:
l

[2, 1, 3, 4, 5, 6]

In [12]:
list(filter(lambda x: x%2 == 0, 1))

TypeError: 'int' object is not iterable